<div class="container">
    <div class="row Test mt-2" style="width:70%">
        <div class="col-9">
            <p>Object Oriented Programming</p>
        </div>
        <div class="col-3"><a class="btn btn-success" asp-controller="Test" asp-action="Index" asp-route-course="OOP">Start</a> <span class="ml-4 badge badge-success">@ViewData["OOP"]</span></div>
    </div>
    <div class="row Test mt-2" style="width:70%">
        <div class="col-9">
            <p>Data Structures</p>
        </div>
        <div class="col-3"><a class="btn btn-success" asp-controller="Test" asp-action="Index" asp-route-course="DTS">Start</a> <span class="ml-4 badge badge-success">@ViewData["DTS"]</span></div>
    </div>
    <div class="row Test mt-2" style="width:70%">
        <div class="col-9">
            <p>Algorithms</p>
        </div>
        <div class="col-3"><a class="btn btn-success" asp-controller="Test" asp-action="Index" asp-route-course="ALGO">Start</a> <span class="ml-4 badge badge-success">@ViewData["ALGO"]</span></div>
    </div>
    <div class="row Test mt-2" style="width:70%">
        <div class="col-9">
            <p>Database</p>
        </div>
        <div class="col-3"><a class="btn btn-success" asp-controller="Test" asp-action="Index" asp-route-course="DATABASE">Start</a> <span class="ml-4 badge badge-success">@ViewData["DATABASE"]</span></div>
    </div>

    <div class="row Test mt-2" style="width:70%">
        <div class="col-9">
            <p>Operation System</p>
        </div>
        <div class="col-3"><a class="btn btn-success" asp-controller="Test" asp-action="Index" asp-route-course="OS">Start</a> <span class="ml-4 badge badge-success">@ViewData["OS"]</span></div>
    </div>
    <div class="row Test mt-2" style="width:70%">
        <div class="col-9">
            <p>Networking</p>
        </div>
        <div class="col-3"><a class="btn btn-success" asp-controller="Test" asp-action="Index" asp-route-course="NETWORK">Start</a> <span class="ml-4 badge badge-success">@ViewData["NETWORK"]</span></div>
    </div>

    <div class="row Test mt-2" style="width:70%">
        <div class="col-9">
            <p>Samsung Coding Test</p>
        </div>
        <div class="col-3"><a class="btn btn-success" asp-controller="Test" asp-action="Index" asp-route-course="SAMSUNG">Start</a> <span class="ml-4 badge badge-success">@ViewData["SAMSUNG"]</span></div>
    </div>
    <div class="row Test mt-2" style="width:70%">
        <div class="col-9">
            <p>Coding Test</p>
        </div>
        <div class="col-3"><a class="btn btn-success" asp-controller="Test" asp-action="Index" asp-route-course="CODING">Start</a> <span class="ml-4 badge badge-success">@ViewData["CODING"]</span></div>
    </div>

    <div class="row Test mt-2" style="width:70%">
        <div class="col-9">
            <p>Linked List Test</p>
        </div>
        <div class="col-3"><a class="btn btn-success" asp-controller="Test" asp-action="Index" asp-route-course="LINKEDLIST">Start</a> <span class="ml-4 badge badge-success">@ViewData["LINKEDLIST"]</span></div>
    </div>
    <div class="row Test mt-2" style="width:70%">
        <div class="col-9">
            <p>Dp Test</p>
        </div>
        <div class="col-3"><a class="btn btn-success" asp-controller="Test" asp-action="Index" asp-route-course="Dp">Start</a> <span class="ml-4 badge badge-success">@ViewData["Dp"]</span></div>
    </div>

</div>